* {
    margin: 0;
    padding: 0;
    
}

.square {
    
    background-color: white;
    flex-shrink: 0;
    /*
    margin: 1px;
    border-radius: 3px;
    */
}

.board {
    background-color: black;
    display: inline-block;
    border: 2px solid black;
}

.row {
    display: flex;
}
